/build
/extern/coinor/BuildTools
/extern/coinor/Clp
/extern/coinor/CoinUtils
/extern/coinor/Data
/extern/coinor/Osi
/extern/coinor/ThirdParty
/extern/coinor/build
/extern/coinor/dist/bin/
/extern/coinor/dist/share/
