name: build_CLP_linux64


on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache coin-or dependencies
        id: cache-coinor
        uses: actions/cache@v2
        with:
          path:  api/extern/coinor/linux64/dist
          key: ${{ runner.os }}-coinor-cbc2.10.8

      - name: build coinor
        working-directory: api/extern/coinor
        if: steps.cache-coinor.outputs.cache-hit != 'true'
        run: |
          export ADD_FFLAGS=-fallow-argument-mismatch
          # export ADD_CXXFLAGS=-lrt # only use if getting the error: "undefined reference to `clock_gettime'"
          ./coinbrew build install Cbc@releases/2.10.8 --parallel-jobs $(nproc) --tests none --prefix linux64/dist

      - name: build CLPWrapper
        working-directory: api
        run: |
          mkdir build
          cd build
          cmake .. # with -DSTATIC_STD=ON for old glibc versions
          cmake --build . --target install

      - name: CLPTest
        working-directory: api/build/test
        run: ./CLPTest

      - name: package and upload
        working-directory: api/build/native/
        run: |
          zipfile=clp_cbc-2.10.8.zip
          url=https://bio.informatik.uni-jena.de/repository/dist-release-local/de/unijena/bioinf/clp/
          if [[ $(curl -Is $url/$zipfile | head -n 1 | grep -c 'OK') -eq 1 ]]; then
            curl $url/$zipfile -o $zipfile
            zip $zipfile -d 'clp/l64/*' # delete old binaries
          fi
          mkdir clp
          cp l64 clp/
          zip $zipfile clp/l64/* # insert new ones
          curl --user '${{ secrets.ARTIFACTORY_USERNAME }}:${{ secrets.ARTIFACTORY_TOKEN }}' -X PUT $url -T $zipfile
